/*ERRO 404*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container01{
    margin-top: 50px !important; 
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 80%;
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

.container02{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
    border-radius: 8px;
}

.container03{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}


.container03 button{
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: #6729FF;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}

.container03 h1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'outfit',serif;
    font-weight: 500;
}

.container03 img{
    margin-left: 10px;
}

.container03 p {
    font-family: 'outfit',serif;
    font-size: 20px;
}
