
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 100%;
    margin: 0px;
    border: 0px;
}
p{
    margin: 0px;
}
h1{
    margin: 0px;
}
body a:visited{
    color: inherit;
    text-decoration: none;
      
}
.roxomenu{
    color: rgba(148, 163, 184, 1) !important;
}


/*Inicio do CCS do HEADER*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Poppins',serif;
    height: 72px;
    background-color: #ffffff;
    border: 1px solid rgba(226, 232, 240, 1)  !important;
    z-index: 1000;

}

header h1{
    color: #6729FF;
}


header ul {
    display: inline-flex;
    list-style: none;
    gap: 50px;

}

header a{
    text-decoration: none;
    color: #94A3B8;
}

#menu{
    color: #6729FF;
}

#login {
    color: #ffffff;
    background-color: #6729FF;
    padding: 10px 35px 10px 35px;
    border-radius: 8px 8px;
}


/*Inicio do CCS da IMAGEM COM OPENACCOUNT*/

.containerimg{
    display: flex;
    height: 496px;
    align-items: center;
    justify-content: center;
    background-image: url(images/openaccount.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.containerimg h1{
    font-family: 'outfit',serif;
    color: white;
    font-size: 96px;
    margin: 0px;
    font-weight: 500;
}
.containerimgtext{
    align-items: center;
    justify-content: center;
}
.containerimgopenaccount{
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.containerimgopenaccount a{
    text-decoration: none !important;
 }
.containerimgopenaccount p{
    text-decoration: none !important;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: #6729FF;
    color: white;
}

/*Inicio do CCS do FOOTER*/

footer {
    font-family: 'Poppins', serif;
    width: 100%;
    height: 298px;
}
footer nav {
    font-size: 16px;
    display: flex;
    gap: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

footer ul li {
    margin-bottom: 20px;
    color: rgba(148, 163, 184, 1);
}

footer aside {
    display: flex;
    gap: 10px;
}

.navandmedia{
    display: flex;

}

.firstfooter{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
    align-content: center;
}
.navfooter{
    padding-right: 150px;
}


footer .socialmedia {
    display: flex;
    flex-direction: column;
    
}

footer .socialmedia div {
    display: flex;
}

.socialmedia h1{
    font-size: 16px;
    margin: 0px;
    color: rgba(100, 116, 139, 1);
}

.socialmedia p{
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: rgba(148, 163, 184, 1);
}

footer #copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #94A3B8;
    padding-top: 10px;
    font-size: 14px;
    color: #94A3B8;
}

footer #copyright h1 {
    color: #6729FF;
}
.footericons{
    margin-top: 20px;
    justify-content: space-between;
    width: 40%
}

.newsletter{
    border: 1px solid   rgba(226, 232, 240, 1);
    border-radius: 8px 8px 8px 8px;
    width: 51%;
    padding: 5px 5px;
}

.newsletter input{
    border: none;
}

.newsletter button{
    background-color: rgba(103, 41, 255, 1);
    border-color: #6729FF;
    border-radius: 8px 8px 8px 8px;
}

.newsletter button img{
    padding: 5px 5px;
}
.politic{
    display: flex;
}

#tittleli{
    color: rgba(100, 116, 139, 1);
    font-size: 16px;
}
.containerimgopenaccount{
    margin-top: 20px;
    font-family: 'Poppins',serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
/*Inicio do CCS da Pagina de contato*/
/*PARTE DO TELEFONE*/
.containercontact{
    width: 100%;
    height: 380px;
    top: 72px;
    background-color: #6729FF;
    
}
.containercontact h1{
    color: white;
    font-family: 'outfit',serif;
    font-size: 64px;
    font-weight: 600;
    margin: 0px;
    padding-left: 100px;

}

.containercontact h2{
    color:rgba(248, 250, 252, 1);
    font-family: 'Poppins',serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding-left: 100px;

}
.container01{
    display: flex;
    width: 100%;
    height: 1000px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.containerform{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;

}

.containerphone{
    border-bottom: 1px solid rgba(226, 232, 240, 1);
    justify-content: center;
    display: flex;
    width: 100%;
    height: 150px;
}
.containerphone01{
    display: flex;
    width: 80%;
    height: 60%;
}
.containerphone02{
    display: flex;
    width: 100%;
    height: 100%;
}
.containerphone02 img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
#phonenumbers{
    display: flex;
    width: 50%;
    justify-content: center;
    font-family: 'Poppins',serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(100, 116, 139, 1);
}
#numbers{
    color: rgba(71, 85, 105, 1);
}
.containerphone03{
    display: flex;
    flex-direction: column;
}
.containerphone03{
    display: flex;
    width: 50%;
    height: 100%;
}

#tittlecontact{
    font-family: 'Outfit',serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    color: rgba(71, 85, 105, 1); 
    margin-bottom: 10px;   
}
#textcontact{
    font-family: 'Poppins',serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(100, 116, 139, 1);
    
}
/*PARTE DAS REDES SOCIAIS*/

.containersocialmedia{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid rgba(226, 232, 240, 1);
}

.containersocialmedia01{
    display: flex;
    width: 80%;
    height: 60%;
}
.containersocialmedia02{
    display: flex;
    width: 100%;
    height: 100%;
}
.containersocialmedia02 img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.containersocialmedia03{
    display: flex;
    flex-direction: column;
}
.containersocialmedia03{
    display: flex;

    width: 50%;
    height: 100%;
}
.containersocialmedia04 img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.containersocialmedia04{
    display: flex;
    justify-content: end;
    width: 520px
}

/* PARTE DO FORMULARIO*/
.containertalkwithus{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.containertalkwithus01{
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: space-between;

}
.containertalkwithus02{
    display: inline-flex;
    width: 35%;
    height: 35%;
}
.containertalkwithus02 img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.containertalkwithus03{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    
}

.containertalkwithus04{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 68px        
}

.containertalkwithus05{
    width: 100%;
    height: 68px        
}

.containertalkwithus06{
    width: 100%;
    height: 278px        
}

.containertalkwithus07{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 40px        
}
.containerwithusname{      
    width: 45%;
}

.containerwithuslastname{     
    width: 47%;
}
.styleformtittle{
    font-family: 'Outfit',serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    color: rgba(100, 116, 139, 1);
}

.styleforminput{
    margin-top: 10px;
    color: rgba(148, 163, 184, 1);
    border: 1px solid rgba(226, 232, 240, 1);
    border-radius: 8px;
    padding: 8px 8px 8px 12px;
    font-family: 'Poppins',serif;
    font-size: 14px;
    font-weight: 400;
    width: 96.5%;
}
.containertalkwithus06 input{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80%;
}

.containertalkwithus07 button{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80%;
    background-color: #6729FF;
    color: #ffffff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    padding: 16px 16px 16px 22px;
    border-radius: 8px;
}

.containertalkwithus07 img{
    padding-left: 10px;
}
.fixinput{
    width: 93% !important ;
}
