
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    text-decoration: none;
}
body a:visited{
    color: inherit;
    text-decoration: none;
      
}
.roxomenu{
    color: rgba(148, 163, 184, 1) !important;
}

body{
    width: 100%;
    margin: 0px;
    border: 0px;
}

#fixpolitic{
    padding-left: 15px;
}

/*Inicio do CCS do HEADER*/
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Poppins',serif;
    height: 72px;
    background-color: #ffffff;
    border: 1px solid rgba(226, 232, 240, 1)  !important;
    z-index: 1000;

}

header h1{
    color: #6729FF;
}


header ul {
    display: inline-flex;
    list-style: none;
    gap: 50px;

}

header a{
    text-decoration: none;
    color: #94A3B8;
}

#menu{
    color: #6729FF;
}

#login {
    color: #ffffff;
    background-color: #6729FF;
    padding: 10px 35px 10px 35px;
    border-radius: 8px 8px;
}

/*Inicio do CCS da primeira sessão da 1 página */

 main{
    font-family: 'Poppins',serif;
}

/*Estilo do bloco geral da primeira pagina*/
#firstcontainer{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 702px;
}


/*Estilo do primeiro bloco da esquerda*/
#leftcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 702px;
    border-bottom: 1px solid  rgba(226, 232, 240, 1) ;
}

/*Estilo do CENTRO DO primeiro bloco da esquerda (POSICIONAMENTO E TAMANHO DOS ELEMENTOS)*/
#centerleftcontainer{
    height: 702px;
    width: 65%;
    align-items: center;

}

.accounttext h1{
    color: #475569;
    font-size: 45px;

}

.openaccount {
    margin-bottom: 28px;
}
.openaccount p{
    display: inline-block;
    font-size: 12px;

}
/*Botão de abra sua conta na esquerda do bloco*/
.openaccountbutton{
    background-color: #EEE5FF;
    color: #6729FF;
    padding: 12px 50px 12px 50px;
    border-radius: 8px 8px;
    
}
#sideopen{
    padding-left: 40px; 
    color: #64748B;
}

.accounttext{
    justify-content: center;

}
.accounttext h1{
    color: #475569;
    margin-bottom: 15px;
    font-size: 3.2em;
}
.accounttext p{
    color: #64748B;
    font-size: 16px;
}

.avatars{
    border-top: 1px solid rgba(226, 232, 240, 1) ;
    padding-top: 50px;

}

.avatars p{
    color: #94A3B8;
    font-size: 14px;
    margin-top: 0px;

}

/*Inicio do bloco da primeira pagina parte da direita ( app)*/


/*Estilo do primeiro bloco da direita*/



#rightcontainer{
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #6729FF;
    height: 702px;
}

/*APP com balões*/
#positionballon{
    display: inline-flex;
    gap: 10px;

}

#positionballon div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
}
#fixpadding{
    padding: 8px;
}

#imgbaloon{
    height: 82%;
}

.imgballon{
    align-items: center;
    padding: 6px;
    background-color:#EEE5FF ;
    border-radius: 8px 8px;
}

.designbaloons1{
    padding-left: 3px;
    color: #475569;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    width: 195px;
    height: 45px;
    font-size: 14px;
    box-shadow: 0px 27px 16px 0px #67748a33;
}

.designbaloons2{
    padding-left: 3px;
    color: #475569;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    width: 270px;
    height: 45px;
    font-size: 14px;
    box-shadow: 0px 48px 19px 0px #67748a33;
}

.designbaloons3{
    padding-left: 3px;
    color: #475569;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    width: 225px;
    height: 45px;
    font-size: 14px;
    box-shadow: 0px 27px 16px 0px #67748a33;
}

.designbaloons div{
    padding-left: 2px;

}
 .baloons{
    position: absolute;
    height: 100%;
    width: 45%;
}

/*Posicionamento dos baloes no app*/
#baloon01{
    position: absolute;
    left: 445px;
    top: 190px;
}

#baloon02{
    position: absolute;
    left: 70px;
    top: 410px;
}

#baloon03{
    position: absolute;
    left: 470px;
    top: 540px;
}
/*Inicio do CCS do containder dos beneficios NULLBANK*/
.containerbenefits{
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center
}
.containerbenefitscenter{
    justify-content: space-between;
    display: flex;
    height: 500px;
    width: 1200px;
}
.contaienrbenefitscenterinformations{
    align-items: center;
    justify-content: center;
    width: 418px;   
    height: 256px;

}
.contaienrbenefitscenterinformations h1{
    font-weight: 700;
    font-family: 'Poppins',serif;
    color: #6729FF;
    font-size: 16px;
    margin: 0px;
}
.contaienrbenefitscenterinformations h2{
    font-size: 40px;
    font-family: 'outfit',serif;
    font-weight: 500;
    margin: 0px;
    margin-top: 10px;
}
.contaienrbenefitscenterinformations p{
    color: rgba(100, 116, 139, 1);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins',serifs;
}
.containerbenefitscenterinformationssee{
    display: flex;
}
.containerbenefitscenterinformationssee p{
    color: #6729FF;
    font-family: 'Poppins',serif;
    font-weight: 500;
    display: inline-block;
    margin: 0px;
}
.containerbenefitscenterinformationssee img{
    display: inline-block;
}

.containerbenefitscentersquares{
    width: 728px;
    height: 500px;

}
.containerbenefitscentersquares01{
    display: flex;
    flex-direction: row;
    width: 728px;
    height: 29%;
    align-items: center;
    justify-content: center;
}
.containerbenefitscentersquares01 h1{
    margin: 0px;
}
.containerbenefitscentersquares01 p{
    margin: 0px;
}
.containerbenefitscentersquares02 h1{
    margin: 0px;
}
.containerbenefitscentersquares02 p{
    margin: 0px;
}
.containerbenefitscentersquares03 h1{
    margin: 0px;
}
.containerbenefitscentersquares03 p{
    margin: 0px;
}
.containerbenefitscentersquare02{
    display: flex;
    flex-direction: row;
    width: 728px;
    height: 40%;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.containerbenefitscentersquare03{
    display: flex;
    flex-direction: column;

    width: 728px;
    height: 32%;

}
.containerbenefitscentersquare03 p{
    margin: 0px;
    padding-left: 22px;
}

.containerbenefitsimg{
    display: inline-flex;
}
.wallet{
    display: flex;
    align-items: center;
    
}
.fixdesconto{
    height: 90px;
    margin-left: 12px;
}
#fixcartao{
    margin-left: 20px;
}

#containerbenefitsdesign{
    border: 2px solid rgba(226, 232, 240, 1);
    border-radius: 8px 8px;
    padding: 30px 20px 30px 20px;

}
#containerbenefitsdesign h1{
    font-family: 'Outfit',serif;
    color:#6729FF;
} 
 
#containerbenefitsdesign p{
    font-family: 'Poppins',serif;
    color:rgba(100, 116, 139, 1);
    font-size: 14px;
 }
 #containerbenefitsdesign02 {
    background-color: rgba(243, 242, 255, 1);
    border-radius: 8px 8px;
 }  
 #containerbenefitsdesign02 h1{
    font-family: 'Outfit',serif;
    color: #6729FF;
 } 
 #containerbenefitsdesign02 p{
    font-size: 14px;
    font-family: 'Poppins',serif;
    color:rgba(100, 116, 139, 1);
 } 
#backgroundbenefitsimage{
    background-color: rgba(238, 229, 255, 1);
    padding: 10px 14px 10px 14px;
    margin-right: 12px;
    border-radius: 8px 8px;
}
#backgroundbenefitsimage02{     
    margin-right: 13px;
    border-radius: 8px 8px;
    background-color: white;
    padding: 10px 15px 10px 15px;
}

#fixwallet{
    padding-left: 20px;
}
#nullbankcolor{
    color: #6729FF;
}
#beneficioscolor{
    color: rgba(71, 85, 105, 1);
}
/*Inicio do CCS do containder do APLICATIVO*/
.containerapp{
    height: 698px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;

}

.containerapp2{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1300px;
    height: 500px;
    top: 1484px;
    left: 111px;
    gap: 0px;
    opacity: 0px;

}

.containerapp2 img{
    height: 500px;
}
.containerapp3{
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 500px;
}
#imgapp{
    position: relative;
}
#backgroundapp{
    width: 500px;
    height: 290px;
    top: 1785px;
    left: 183px;
    position: absolute;
    background-color: #EEE5FF;
    border-radius: 20px 20px;

}
/*Inicio do CCS do containder da APPSTORE*/
.containerappstore{
    display: flex;
    height: 534px;
    background-color: rgba(103, 41, 255, 1);
    color: white;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.containerappstore div{
    width: 610px;
    height: 277.31px;
    top: 2380.48px;
    left: 112px;
    gap: 0px;
    opacity: 0px;
    
}

.containerappstoretext h1{
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
}
.containerappstoretext h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#downloadapp{

    width: 500px;
    font-size: 16px;
    font-weight: 200;
    color: rgba(226, 232, 240, 1);
    margin-bottom: 35px;
}

#buttonapp{
    display: inline-flex;
    color: #6729FF;
    background-color: white;
    width: 25%;
    text-align:center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 14px 10px 10px;
    border-radius: 8px;
    margin-right: 30px;

}


#card {
    width: 400px;
    height: 400px;
    position: relative;
    top: 10.5px;
    left: 320px;

    background: url(images/behindcard.svg) no-repeat;
  }
#secondcard{
    width: 500px;
    height: 470px;
    position: relative;
    top: -464px;
    left: 30px;
    background: url(images/card.svg) no-repeat;
  }


.containerappright{
    height: 500px;
    width: 500px;
}
.imgfix{
    max-width: 25px;
    max-height: 25px;
}
.imgbackground{
    width: 25px;
    height: 25px;
    background-color: #6729FF;
    padding: 8px;
    border-radius: 10px;
 
}
.containerblock{
    display: flex;
}
.containerblock div p{
    color: rgba(100, 116, 139, 1);
    margin: 0px;
    margin-bottom: 30px;
}
.containerblock div h1{
    color: #6729FF;
    margin: 0px;
}
.spacing{
    margin-left: 12px;
}
.controlapp h1{
    color: #6729FF;
    font-size: 16px;
    margin: 0px;
}

.controlapp h2{
    font-family: 'Outfit',serif;
    font-size: 40px;
    font-weight:500;
    color: #475569;
    margin: 0px;

}
.controlapp p{
    color: rgba(100, 116, 139, 1);
    margin-bottom: 30px;
    font-weight: 400;
}
/*Inicio do CCS da IMAGEM COM OPENACCOUNT*/

.containerimg{
    display: flex;
    height: 496px;
    align-items: center;
    justify-content: center;
    background-image: url(images/openaccount.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.containerimg h1{
    font-family: 'outfit',serif;
    color: white;
    font-size: 96px;
    margin: 0px;
    font-weight: 500;
}
.containerimgtext{
    align-items: center;
    justify-content: center;
}
.containerimgopenaccount{
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.containerimgopenaccount p{
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: #6729FF;
    color: white;
}

/*Inicio do CCS do FOOTER*/

footer {
    font-family: 'Poppins', serif;
    width: 100%;
    height: 298px;
}
footer nav {
    font-size: 16px;
    display: flex;
    gap: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

footer ul li {
    margin-bottom: 20px;
    color: rgba(148, 163, 184, 1);
}

footer aside {
    display: flex;
    gap: 10px;
}

.navandmedia{
    display: flex;

}

.firstfooter{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
    align-content: center;
}
.navfooter{
    padding-right: 150px;
}


footer .socialmedia {
    display: flex;
    flex-direction: column;
    
}

footer .socialmedia div {
    display: flex;
}

.socialmedia h1{
    font-size: 16px;
    margin: 0px;
    color: rgba(100, 116, 139, 1);
}

.socialmedia p{
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    color: rgba(148, 163, 184, 1);
}

footer #copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #94A3B8;
    padding-top: 10px;
    font-size: 14px;
    color: #94A3B8;
}

footer #copyright h1 {
    color: #6729FF;
}
.footericons{
    margin-top: 20px;
    justify-content: space-between;
    width: 40%
}

.newsletter{
    border: 1px solid   rgba(226, 232, 240, 1);
    border-radius: 8px 8px 8px 8px;
    width: 51%;
    padding: 5px 5px;
}

.newsletter input{
    border: none;
}

.newsletter button{
    background-color: rgba(103, 41, 255, 1);
    border-color: #6729FF;
    border-radius: 8px 8px 8px 8px;
}

.newsletter button img{
    padding: 5px 5px;
}
.politic{
    display: flex;
}

#tittleli{
    color: rgba(100, 116, 139, 1);
    font-size: 16px;
}
.containerimgopenaccount{
    margin-top: 20px;
    font-family: 'Poppins',serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.purplesquare{
    display: flex;
    position: relative;
    right: -400px;
    width: 150px;
    top: -101px;
    height: 100px;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(255, 255, 255, 1);
}

.whitesquare{
    display: flex;
    position: relative;
    right: -470px;
    width: 150px;
    top: -220px;
    height: 120px;
    border-radius: 8px 8px 0px 0px;
    background-color: #6729FF; 
}